
body {
  font-family: Helvetica;
}

ul {
  list-style-type: none;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.header {
  line-height: 24px;
  font-weight: bold;
}

/* TO-DO: figure out max width and space these using variables instead of magic numbers  */
.sender, .recipient, .birthday, .diet {
  position:relative;
  /* left: 5px; */
  display:inline-block;
}

li {
  padding: 15px;
}
