
body {
  font-family: helvetica;
}


#input{
  width: 50%;
  position: relative;
  display: inline-block;
}

#names{
  width: 100%;
  height: 100px;
}

button{
  float: right;
  display: block;
  padding: 5px;
  margin: 5px;
}

table {
  width: 100%;
  border: 1px;
  border-collapse: collapse;
}

tr:hover td{
  color: #669 !important;
}

tr:nth-child(even) {
  background: #f7f7f7;
}

tr:nth-child(odd) {
  background: #FFF;
}

thead {
  line-height: 24px;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #669;
  color: #669;
}

td {
  border-bottom: 1px solid #669;
  color: #99d;
}
